footer
  .container.text-center
    #disclaimer.float-left
      div
      div Credit Score components provided by 
       a(href='https://evenfinancial.com')
        .evenLogo
      div See a problem with your score? Contact Us!
      div Your credit score is composed of several transparent elements. Each aspect and it's weight is displayed above.
    ul.float-right.list-inline.githubLink
      li.list-inline-item
        a(href='https://github.com/gricha2380/defhackathon2019') GitHub Project